.password-input-container {
    display: flex;
    align-items: center;
  }
  
  .password-input-container .MuiTextField-root {
    flex: 1;
  }
  
  .password-input-container .MuiIconButton-root {
    padding: 0;
  }
  